/* Banner */
#top {
  height : 20px;
  background-color: #005661;
}

#line {
  height : 2px;
  background-color: #4fb3be;
}

#bottom {
  height : 65px;
  background-color: #00838e;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
