<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type = "text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href="icons/blueicon.png">
    <title>Dashboard</title>
  </head>
  <body>
    <div id="navbar">
      <div id="top"></div>
      <div id="line"></div>
      <div id="bottom">
        <img class="icon" src="icons/whiteicon.svg" height="55px" width="55px" alt="icon">
        <h1 class="title">Name</h1>
        <a id="logout" href="/logout">Logout</a>
      </div>
    </div>
    <div id="content">
      <h1>Dashboard</h1>
      <div class="row">
        <div id="notice"class="box">
          <h2>Community Notice</h2>
          <div id="app">
            <table v-if="proposals">
              <tr>
                <th v-for="field in proposals.fields">
                  {{ field.alias }}
                </th>
              </tr>
              <tr v-for="row in proposals.features">
                <td v-for="column in row.attributes">
                  {{ column }}
                </td>
              </tr>
              </tr>
            </table>
            <h1 v-else>Loading...</h1>
          </div>
        </div>
        <div id="map"class="box">
          <h2>Your Area</h2>
          <div class="embed-container">
            <iframe width="500" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="Development Applications" src="//jonathan-xu.maps.arcgis.com/apps/Embed/index.html?webmap=aa638563022c4b4e8e5cec5ed5956b40&amp;extent=-79.9365,43.6519,-79.5774,43.7889&amp;zoom=true&amp;previewImage=false&amp;scale=true&amp;disable_scroll=true&amp;theme=light"></iframe>
          </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
