/* Banner */

body{
  margin:0;
}

.middle {
  text-align: center;
}

/*.middle {
sack
}*/

h1 {
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-family: 'Raleway', sans-serif;
  color: white;
}

#top {
  height : 20px;
  background-color: #005661;
}

#line {
  height : 2px;
  background-color: #4fb3be;
}

#bottom {
  height : 65px;
  background-color: #00838e;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#icon {
  margin-left: 25px;
  margin-right: 10px;
}

#title{
  color: white;
}

#logout {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  margin-right: 15px;
  margin-left: auto;
}



#logout:hover{
  background-color: #4fb3be;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
#logout:active{
  background-color: #005661;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

#content{
  padding: 25px;
}

.box{
  background-color: #e0e0e0;
  padding: 10px;
  margin: 10px;
}
