/* Banner */

body{
  margin:0;
}


.background {
  background-image: url("startpictures/gagePark.jpg");
  width: 1200px;
  height: 900px;
  opacity: 0.5;
    }

h1, h2 {
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-family: 'Raleway', sans-serif;
  position: absolute;
  margin: 50;
  bottom: 0;
  width:100%;
  padding: 10px;
  order: 5px solid green;
  margin: 0;
  border-style: solid;
  border-color: #ff0000 #0000ff;
}


#middle {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: white;
  background-image: url('startpictures/gagePark.jpg');
  height:100vh;
  margin: 0;
  left: 0;
  bottom: 0;
  width:100%;
  opacity: 0.6;
}

#top {
  height : 20px;
  background-color: #005661;
}

#line {
  height : 2px;
  background-color: #4fb3be;
}

#bottom {
  height : 65px;
  background-color: #00838e;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.icon {
  margin-left: 25px;
  margin-right: 10px;
}

#title{
  color: white;
}

#logout {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  margin-right: 15px;
  margin-left: auto;
}



#logout:hover{
  background-color: #4fb3be;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
#logout:active{
  background-color: #005661;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

#content{
  padding: 25px;
}

.row{
  display: flex;
  flex-direction: row;
}

.column{
  display: flex;
  flex-direction: column;
}

.box{
  background-color: #eceff1;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
}

#notice{
  flex: 50;
}

#map{
  flex-grow: 50;
}

/*Embedded map style*/
.embed-container {
  position: relative;
  padding-bottom: 80%;
  height: 0;
  max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
small{
  position:
  absolute;
  z-index: 40;
  bottom: 0;
  margin-bottom: -15px;
}

#signinbg{
  background-color: #005661;
}

#center{
  margin: auto;
  width: 100px;
}
