/* Banner */

body{
  margin:0;
}

h1{
  font-family: 'Raleway', sans-serif;
  color: white;
}

#top {
  height : 20px;
  background-color: #005661;
}

#line {
  height : 2px;
  background-color: #4fb3be;
}

#bottom {
  height : 65px;
  background-color: #00838e;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#icon {
  margin-left: 25px;
}

#logout {
  font-family: 'Raleway', sans-serif;
  background-color: red;
  color: white;
  padding: 10px 15px;

}
.middle {
  text-align: center;
}
.images {
  width:98.7vw;
  opacity: 0.6;
}
h3 {
  font-family: 'Raleway', sans-serif;
  color: white;
}
